In [2]:
import pandas as pd

In [3]:
mvps = pd.read_csv("mvps.csv")

In [4]:
mvps

,Unnamed: 0,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
0,0,1,Michael Jordan,27,CHI,77,891,960,0.928,82,...,6.0,5.5,2.7,1.0,0.539,0.312,0.851,20.3,0.321,1991
1,1,2,Magic Johnson,31,LAL,10,497,960,0.518,79,...,7.0,12.5,1.3,0.2,0.477,0.320,0.906,15.4,0.251,1991
2,2,3,David Robinson,25,SAS,6,476,960,0.496,82,...,13.0,2.5,1.5,3.9,0.552,0.143,0.762,17.0,0.264,1991
3,3,4,Charles Barkley,27,PHI,2,222,960,0.231,67,...,10.1,4.2,1.6,0.5,0.570,0.284,0.722,13.4,0.258,1991
4,4,5,Karl Malone,27,UTA,0,142,960,0.148,82,...,11.8,3.3,1.1,1.0,0.527,0.286,0.770,15.5,0.225,1991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
503,4,5,Jalen Brunson,27,NYK,0,142,990,0.143,77,...,3.6,6.7,0.9,0.2,0.479,0.401,0.847,11.2,0.198,2024
504,5,6,Jayson Tatum,25,BOS,0,86,990,0.087,74,...,8.1,4.9,1.0,0.6,0.471,0.376,0.833,10.4,0.189,2024
505,6,7,Anthony Edwards,22,MIN,0,18,990,0.018,79,...,5.4,5.1,1.3,0.5,0.461,0.357,0.836,7.5,0.130,2024
506,7,8,Domantas Sabonis,27,SAC,0,3,990,0.003,82,...,13.7,8.2,0.9,0.6,0.594,0.379,0.704,12.6,0.206,2024
507,8,9,Kevin Durant,35,PHO,0,1,990,0.001,75,...,6.6,5.0,0.9,1.2,0.523,0.413,0.856,8.3,0.142,2024

In [5]:
mvps = mvps[["Player", "Year", "Pts Won", "Pts Max", "Share"]]

In [6]:
mvps.head()

            Player  Year  Pts Won  Pts Max  Share
0   Michael Jordan  1991      891      960  0.928
1    Magic Johnson  1991      497      960  0.518
2   David Robinson  1991      476      960  0.496
3  Charles Barkley  1991      222      960  0.231
4      Karl Malone  1991      142      960  0.148

In [7]:
players = pd.read_csv("players.csv")

In [8]:
players

,Unnamed: 0,Rk,Player,Age,Team,Pos,G,GS,MP,FG,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards,Year
0,0,1,Michael Jordan,27,CHI,SG,82,82,37.0,12.1,...,4.6,6.0,5.5,2.7,1.0,2.5,2.8,31.5,"MVP-1,DPOY-7,AS,NBA1,DEF1",1991
1,1,2,Karl Malone,27,UTA,PF,82,82,40.3,10.3,...,8.9,11.8,3.3,1.1,1.0,3.0,3.3,29.0,"MVP-5,AS,NBA1",1991
2,2,3,Bernard King,34,WSB,SF,64,64,37.5,11.1,...,3.2,5.0,4.6,0.9,0.3,4.0,2.9,28.4,"MVP-16,AS,NBA3",1991
3,3,4,Charles Barkley,27,PHI,SF,67,67,37.3,9.9,...,6.3,10.1,4.2,1.6,0.5,3.1,2.6,27.6,"MVP-4,AS,NBA1",1991
4,4,5,Patrick Ewing,28,NYK,C,81,81,38.3,10.4,...,8.8,11.2,3.0,1.0,3.2,3.6,3.5,26.6,"MVP-11,DPOY-7,AS,NBA2",1991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20564,766,569,Ron Harper Jr.,23,TOR,PF,1,0,4.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,2.0,0.0,NaN,2024
20565,767,570,Justin Jackson,28,MIN,SF,2,0,0.5,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2024
20566,768,571,Dmytro Skapintsev,25,NYK,C,2,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2024
20567,769,572,Javonte Smart,24,PHI,PG,1,0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,2024
20568,770,NaN,League Average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024

In [9]:
del players["Unnamed: 0"]
del players["Rk"]

In [10]:
players.head()

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards,Year
0,Michael Jordan,27,CHI,SG,82,82,37.0,12.1,22.4,.539,...,4.6,6.0,5.5,2.7,1.0,2.5,2.8,31.5,"MVP-1,DPOY-7,AS,NBA1,DEF1",1991
1,Karl Malone,27,UTA,PF,82,82,40.3,10.3,19.6,.527,...,8.9,11.8,3.3,1.1,1.0,3.0,3.3,29.0,"MVP-5,AS,NBA1",1991
2,Bernard King,34,WSB,SF,64,64,37.5,11.1,23.6,.472,...,3.2,5.0,4.6,0.9,0.3,4.0,2.9,28.4,"MVP-16,AS,NBA3",1991
3,Charles Barkley,27,PHI,SF,67,67,37.3,9.9,17.4,.570,...,6.3,10.1,4.2,1.6,0.5,3.1,2.6,27.6,"MVP-4,AS,NBA1",1991
4,Patrick Ewing,28,NYK,C,81,81,38.3,10.4,20.3,.514,...,8.8,11.2,3.0,1.0,3.2,3.6,3.5,26.6,"MVP-11,DPOY-7,AS,NBA2",1991

In [11]:
players.groupby(["Player", "Year"]).get_group(("Bobby Jones", 2008))

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards,Year
9568,Bobby Jones,24,5TM,SF,47,2,11.3,1.3,3.0,.429,...,1.3,2.0,0.6,0.3,0.1,0.6,1.8,3.8,NaN,2008
9569,Bobby Jones,24,DEN,SF,25,0,8.9,1.0,2.6,.406,...,1.1,1.5,0.4,0.2,0.0,0.6,1.8,3.4,NaN,2008
9570,Bobby Jones,24,MEM,SF,9,2,15.2,1.6,4.0,.389,...,1.9,3.0,1.2,0.6,0.2,0.6,1.9,4.4,NaN,2008
9571,Bobby Jones,24,HOU,SF,4,0,2.3,0.5,1.0,.500,...,0.3,0.3,0.0,0.3,0.0,0.3,0.8,1.0,NaN,2008
9572,Bobby Jones,24,MIA,SF,6,0,23.8,2.8,5.3,.531,...,2.7,4.0,0.8,0.3,0.0,1.2,3.0,8.0,NaN,2008
9573,Bobby Jones,24,SAS,SF,3,0,6.7,0.3,1.3,.250,...,0.7,0.7,0.3,0.7,0.0,0.3,0.3,0.7,NaN,2008

In [12]:
# Replace a player's team with "TOT" if they played for multiple teams in a season

players["Team"].replace({"2TM": "TOT"}, inplace=True)
players["Team"].replace({"3TM": "TOT"}, inplace=True)
players["Team"].replace({"4TM": "TOT"}, inplace=True)
players["Team"].replace({"5TM": "TOT"}, inplace=True)

/var/folders/79/yhqc0t4j20v0crtdf03zmpzm0000gn/T/ipykernel_8974/1020566406.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  players["Team"].replace({"2TM": "TOT"}, inplace=True)

In [13]:
players.groupby(["Player", "Year"]).get_group(("Bobby Jones", 2008))

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards,Year
9568,Bobby Jones,24,TOT,SF,47,2,11.3,1.3,3.0,.429,...,1.3,2.0,0.6,0.3,0.1,0.6,1.8,3.8,NaN,2008
9569,Bobby Jones,24,DEN,SF,25,0,8.9,1.0,2.6,.406,...,1.1,1.5,0.4,0.2,0.0,0.6,1.8,3.4,NaN,2008
9570,Bobby Jones,24,MEM,SF,9,2,15.2,1.6,4.0,.389,...,1.9,3.0,1.2,0.6,0.2,0.6,1.9,4.4,NaN,2008
9571,Bobby Jones,24,HOU,SF,4,0,2.3,0.5,1.0,.500,...,0.3,0.3,0.0,0.3,0.0,0.3,0.8,1.0,NaN,2008
9572,Bobby Jones,24,MIA,SF,6,0,23.8,2.8,5.3,.531,...,2.7,4.0,0.8,0.3,0.0,1.2,3.0,8.0,NaN,2008
9573,Bobby Jones,24,SAS,SF,3,0,6.7,0.3,1.3,.250,...,0.7,0.7,0.3,0.7,0.0,0.3,0.3,0.7,NaN,2008

In [14]:
# Makes sure that each player only has a single row for each year

def single_row(df):
    if df.shape[0]==1:
        return df
    else:
        row = df[df["Team"]=="TOT"]
        row["Team"] = df.iloc[-1,:]["Team"] # replaces the team name from TOT to that player's last team they played for
        return row

players = players.groupby(["Player", "Year"]).apply(single_row)

/var/folders/79/yhqc0t4j20v0crtdf03zmpzm0000gn/T/ipykernel_8974/270049336.py:11: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  players = players.groupby(["Player", "Year"]).apply(single_row)

In [15]:
players

                                  Player Age Team Pos   G  GS    MP   FG  \
Player         Year
A.C. Green     1991 185       A.C. Green  27  LAL  PF  82  21  26.4  3.1
               1992 558       A.C. Green  28  LAL  PF  82  53  35.4  4.7
               1993 1051      A.C. Green  29  LAL  PF  82  55  34.4  4.6
               1994 1488      A.C. Green  30  PHO  PF  82  55  34.5  5.7
               1995 2053      A.C. Green  31  PHO  SF  82  52  32.8  3.8
...                                  ...  ..  ...  ..  ..  ..   ...  ...
Željko Rebrača 2002 5999  Željko Rebrača  29  DET   C  74   4  15.9  2.6
               2003 6509  Željko Rebrača  30  DET   C  30  12  16.3  2.7
               2004 7205  Željko Rebrača  31  ATL   C  24   2  11.4  1.4
               2005 7735  Željko Rebrača  32  LAC   C  58   2  16.0  2.3
               2006 8357  Željko Rebrača  33  LAC   C  29   2  14.2  1.8

                           FGA   FG%  ...  DRB  TRB  AST  STL  BLK  TOV   PF  \
Player         Year                   ...
A.C. Green     1991 185    6.6  .476  ...  3.8  6.3  0.9  0.7  0.3  1.2  1.4
               1992 558    9.8  .476  ...  5.6  9.3  1.4  1.1  0.4  1.4  1.7
               1993 1051   8.6  .537  ...  5.2  8.7  1.4  1.1  0.5  1.4  1.8
               1994 1488  11.3  .502  ...  5.8  9.2  1.7  0.9  0.5  1.2  1.7
               1995 2053   7.5  .504  ...  5.8  8.2  1.5  0.7  0.4  1.4  1.8
...                        ...   ...  ...  ...  ...  ...  ...  ...  ...  ...
Željko Rebrača 2002 5999   5.1  .505  ...  2.8  3.9  0.5  0.4  1.0  1.1  2.6
               2003 6509   4.8  .552  ...  2.2  3.1  0.3  0.2  0.6  1.0  2.6
               2004 7205   3.2  .442  ...  1.5  2.4  0.3  0.2  0.5  0.7  2.2
               2005 7735   4.0  .568  ...  2.3  3.2  0.4  0.2  0.7  0.8  2.2
               2006 8357   3.3  .542  ...  1.8  2.2  0.3  0.2  0.7  0.8  2.0

                           PTS Awards  Year
Player         Year
A.C. Green     1991 185    9.1    NaN  1991
               1992 558   13.6    NaN  1992
               1993 1051  12.8    NaN  1993
               1994 1488  14.7    NaN  1994
               1995 2053  11.2    NaN  1995
...                        ...    ...   ...
Željko Rebrača 2002 5999   6.9    NaN  2002
               2003 6509   6.6    NaN  2003
               2004 7205   3.8    NaN  2004
               2005 7735   5.8    NaN  2005
               2006 8357   4.7    NaN  2006

[15842 rows x 31 columns]

In [16]:
players.index = players.index.droplevel()

In [17]:
players.index = players.index.droplevel()

In [18]:
players

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards,Year
185,A.C. Green,27,LAL,PF,82,21,26.4,3.1,6.6,.476,...,3.8,6.3,0.9,0.7,0.3,1.2,1.4,9.1,NaN,1991
558,A.C. Green,28,LAL,PF,82,53,35.4,4.7,9.8,.476,...,5.6,9.3,1.4,1.1,0.4,1.4,1.7,13.6,NaN,1992
1051,A.C. Green,29,LAL,PF,82,55,34.4,4.6,8.6,.537,...,5.2,8.7,1.4,1.1,0.5,1.4,1.8,12.8,NaN,1993
1488,A.C. Green,30,PHO,PF,82,55,34.5,5.7,11.3,.502,...,5.8,9.2,1.7,0.9,0.5,1.2,1.7,14.7,NaN,1994
2053,A.C. Green,31,PHO,SF,82,52,32.8,3.8,7.5,.504,...,5.8,8.2,1.5,0.7,0.4,1.4,1.8,11.2,NaN,1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5999,Željko Rebrača,29,DET,C,74,4,15.9,2.6,5.1,.505,...,2.8,3.9,0.5,0.4,1.0,1.1,2.6,6.9,NaN,2002
6509,Željko Rebrača,30,DET,C,30,12,16.3,2.7,4.8,.552,...,2.2,3.1,0.3,0.2,0.6,1.0,2.6,6.6,NaN,2003
7205,Željko Rebrača,31,ATL,C,24,2,11.4,1.4,3.2,.442,...,1.5,2.4,0.3,0.2,0.5,0.7,2.2,3.8,NaN,2004
7735,Željko Rebrača,32,LAC,C,58,2,16.0,2.3,4.0,.568,...,2.3,3.2,0.4,0.2,0.7,0.8,2.2,5.8,NaN,2005
8357,Željko Rebrača,33,LAC,C,29,2,14.2,1.8,3.3,.542,...,1.8,2.2,0.3,0.2,0.7,0.8,2.0,4.7,NaN,2006

In [19]:
players[players["Player"]=="Bobby Jones"]

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Awards,Year
9043,Bobby Jones,23,PHI,SF,44,5,7.6,1.0,2.1,.462,...,0.8,1.3,0.4,0.3,0.0,0.4,1.3,2.5,NaN,2007
9568,Bobby Jones,24,SAS,SF,47,2,11.3,1.3,3.0,.429,...,1.3,2.0,0.6,0.3,0.1,0.6,1.8,3.8,NaN,2008

In [20]:
combined = players.merge(mvps, how="outer", on=["Player", "Year"]) # merge dbs (outer merge is used since the mvp db doesn't include all the players so outer merge keeps all the players that won and didn't win mvp )

In [21]:
combined

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,STL,BLK,TOV,PF,PTS,Awards,Year,Pts Won,Pts Max,Share
0,A.C. Green,27,LAL,PF,82,21,26.4,3.1,6.6,.476,...,0.7,0.3,1.2,1.4,9.1,NaN,1991,NaN,NaN,NaN
1,A.C. Green,28,LAL,PF,82,53,35.4,4.7,9.8,.476,...,1.1,0.4,1.4,1.7,13.6,NaN,1992,NaN,NaN,NaN
2,A.C. Green,29,LAL,PF,82,55,34.4,4.6,8.6,.537,...,1.1,0.5,1.4,1.8,12.8,NaN,1993,NaN,NaN,NaN
3,A.C. Green,30,PHO,PF,82,55,34.5,5.7,11.3,.502,...,0.9,0.5,1.2,1.7,14.7,NaN,1994,NaN,NaN,NaN
4,A.C. Green,31,PHO,SF,82,52,32.8,3.8,7.5,.504,...,0.7,0.4,1.4,1.8,11.2,NaN,1995,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15854,Željko Rebrača,29,DET,C,74,4,15.9,2.6,5.1,.505,...,0.4,1.0,1.1,2.6,6.9,NaN,2002,NaN,NaN,NaN
15855,Željko Rebrača,30,DET,C,30,12,16.3,2.7,4.8,.552,...,0.2,0.6,1.0,2.6,6.6,NaN,2003,NaN,NaN,NaN
15856,Željko Rebrača,31,ATL,C,24,2,11.4,1.4,3.2,.442,...,0.2,0.5,0.7,2.2,3.8,NaN,2004,NaN,NaN,NaN
15857,Željko Rebrača,32,LAC,C,58,2,16.0,2.3,4.0,.568,...,0.2,0.7,0.8,2.2,5.8,NaN,2005,NaN,NaN,NaN
15858,Željko Rebrača,33,LAC,C,29,2,14.2,1.8,3.3,.542,...,0.2,0.7,0.8,2.0,4.7,NaN,2006,NaN,NaN,NaN

In [22]:
combined[["Pts Won", "Pts Max", "Share", "Awards"]] = combined[["Pts Won", "Pts Max", "Share", "Awards"]].fillna(0) # fill NaN values with 0

In [23]:
combined

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,STL,BLK,TOV,PF,PTS,Awards,Year,Pts Won,Pts Max,Share
0,A.C. Green,27,LAL,PF,82,21,26.4,3.1,6.6,.476,...,0.7,0.3,1.2,1.4,9.1,0,1991,0.0,0.0,0.0
1,A.C. Green,28,LAL,PF,82,53,35.4,4.7,9.8,.476,...,1.1,0.4,1.4,1.7,13.6,0,1992,0.0,0.0,0.0
2,A.C. Green,29,LAL,PF,82,55,34.4,4.6,8.6,.537,...,1.1,0.5,1.4,1.8,12.8,0,1993,0.0,0.0,0.0
3,A.C. Green,30,PHO,PF,82,55,34.5,5.7,11.3,.502,...,0.9,0.5,1.2,1.7,14.7,0,1994,0.0,0.0,0.0
4,A.C. Green,31,PHO,SF,82,52,32.8,3.8,7.5,.504,...,0.7,0.4,1.4,1.8,11.2,0,1995,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15854,Željko Rebrača,29,DET,C,74,4,15.9,2.6,5.1,.505,...,0.4,1.0,1.1,2.6,6.9,0,2002,0.0,0.0,0.0
15855,Željko Rebrača,30,DET,C,30,12,16.3,2.7,4.8,.552,...,0.2,0.6,1.0,2.6,6.6,0,2003,0.0,0.0,0.0
15856,Željko Rebrača,31,ATL,C,24,2,11.4,1.4,3.2,.442,...,0.2,0.5,0.7,2.2,3.8,0,2004,0.0,0.0,0.0
15857,Željko Rebrača,32,LAC,C,58,2,16.0,2.3,4.0,.568,...,0.2,0.7,0.8,2.2,5.8,0,2005,0.0,0.0,0.0
15858,Željko Rebrača,33,LAC,C,29,2,14.2,1.8,3.3,.542,...,0.2,0.7,0.8,2.0,4.7,0,2006,0.0,0.0,0.0

In [24]:
teams = pd.read_csv("teams.csv")

In [25]:
teams

,Unnamed: 0,W,L,W/L%,GB,PS/G,PA/G,SRS,Year,Team
0,0,56,26,.683,—,111.5,105.7,5.22,1991,Boston Celtics*
1,1,44,38,.537,12.0,105.4,105.6,-0.39,1991,Philadelphia 76ers*
2,2,39,43,.476,17.0,103.1,103.3,-0.43,1991,New York Knicks*
3,3,30,52,.366,26.0,101.4,106.4,-4.84,1991,Washington Bullets
4,4,26,56,.317,30.0,102.9,107.5,-4.53,1991,New Jersey Nets
...,...,...,...,...,...,...,...,...,...,...
1133,13,50,32,.610,—,117.9,115.6,2.30,2024,Dallas Mavericks*
1134,14,49,33,.598,1.0,115.1,110.7,4.46,2024,New Orleans Pelicans*
1135,15,41,41,.500,9.0,114.3,113.2,1.24,2024,Houston Rockets
1136,16,27,55,.329,23.0,105.8,112.8,-6.57,2024,Memphis Grizzlies
1137,17,22,60,.268,28.0,112.1,118.6,-5.80,2024,San Antonio Spurs

In [26]:
teams.head(30)

,Unnamed: 0,W,L,W/L%,GB,PS/G,PA/G,SRS,Year,Team
0,0,56,26,.683,—,111.5,105.7,5.22,1991,Boston Celtics*
1,1,44,38,.537,12.0,105.4,105.6,-0.39,1991,Philadelphia 76ers*
2,2,39,43,.476,17.0,103.1,103.3,-0.43,1991,New York Knicks*
3,3,30,52,.366,26.0,101.4,106.4,-4.84,1991,Washington Bullets
4,4,26,56,.317,30.0,102.9,107.5,-4.53,1991,New Jersey Nets
5,5,24,58,.293,32.0,101.8,107.8,-5.91,1991,Miami Heat
6,6,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,1991,Central Division
7,7,61,21,.744,—,110.0,101.0,8.57,1991,Chicago Bulls*
8,8,50,32,.610,11.0,100.1,96.8,3.08,1991,Detroit Pistons*
9,9,48,34,.585,13.0,106.4,104.0,2.33,1991,Milwaukee Bucks*
10,10,43,39,.524,18.0,109.8,109.0,0.72,1991,Atlanta Hawks*
11,11,41,41,.500,20.0,111.7,112.1,-0.37,1991,Indiana Pacers*
12,12,33,49,.402,28.0,101.7,104.2,-2.33,1991,Cleveland Cavaliers
13,13,26,56,.317,35.0,102.8,108.0,-4.95,1991,Charlotte Hornets
14,0,Midwest Division,Midwest Division,Midwest Division,Midwest Division,Midwest Division,Midwest Division,Midwest Division,1991,Midwest Division
15,1,55,27,.671,—,107.1,102.6,4.30,1991,San Antonio Spurs*
16,2,54,28,.659,1.0,104.0,100.7,3.18,1991,Utah Jazz*
17,3,52,30,.634,3.0,106.7,103.2,3.27,1991,Houston Rockets*
18,4,31,51,.378,24.0,105.9,109.9,-3.79,1991,Orlando Magic
19,5,29,53,.354,26.0,99.6,103.5,-3.75,1991,Minnesota Timberwolves
20,6,28,54,.341,27.0,99.9,104.5,-4.27,1991,Dallas Mavericks
21,7,20,62,.244,35.0,119.9,130.8,-10.31,1991,Denver Nuggets
22,8,Pacific Division,Pacific Division,Pacific Division,Pacific Division,Pacific Division,Pacific Division,Pacific Division,1991,Pacific Division
23,9,63,19,.768,—,114.7,106.0,8.47,1991,Portland Trail Blazers*
24,10,58,24,.707,5.0,106.3,99.6,6.73,1991,Los Angeles Lakers*
25,11,55,27,.671,8.0,114.0,107.5,6.49,1991,Phoenix Suns*
26,12,44,38,.537,19.0,116.6,115.0,1.72,1991,Golden State Warriors*
27,13,41,41,.500,22.0,106.6,105.4,1.31,1991,Seattle SuperSonics*
28,14,31,51,.378,32.0,103.5,107.0,-3.16,1991,Los Angeles Clippers
29,15,25,57,.305,38.0,96.7,103.5,-6.27,1991,Sacramento Kings

In [27]:
teams = teams[~teams["W"].str.contains("Division")] # removes all rows that contain Central Division, Midwest Division, etc. since these are not actual teams

In [28]:
teams["Team"] = teams["Team"].str.replace("*", "", regex=False) # removes the asterisk from the team names

/var/folders/79/yhqc0t4j20v0crtdf03zmpzm0000gn/T/ipykernel_8974/3622155002.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  teams["Team"] = teams["Team"].str.replace("*", "", regex=False) # removes the asterisk from the team names

In [29]:
teams.head(30)

,Unnamed: 0,W,L,W/L%,GB,PS/G,PA/G,SRS,Year,Team
0,0,56,26,.683,—,111.5,105.7,5.22,1991,Boston Celtics
1,1,44,38,.537,12.0,105.4,105.6,-0.39,1991,Philadelphia 76ers
2,2,39,43,.476,17.0,103.1,103.3,-0.43,1991,New York Knicks
3,3,30,52,.366,26.0,101.4,106.4,-4.84,1991,Washington Bullets
4,4,26,56,.317,30.0,102.9,107.5,-4.53,1991,New Jersey Nets
5,5,24,58,.293,32.0,101.8,107.8,-5.91,1991,Miami Heat
7,7,61,21,.744,—,110.0,101.0,8.57,1991,Chicago Bulls
8,8,50,32,.610,11.0,100.1,96.8,3.08,1991,Detroit Pistons
9,9,48,34,.585,13.0,106.4,104.0,2.33,1991,Milwaukee Bucks
10,10,43,39,.524,18.0,109.8,109.0,0.72,1991,Atlanta Hawks
11,11,41,41,.500,20.0,111.7,112.1,-0.37,1991,Indiana Pacers
12,12,33,49,.402,28.0,101.7,104.2,-2.33,1991,Cleveland Cavaliers
13,13,26,56,.317,35.0,102.8,108.0,-4.95,1991,Charlotte Hornets
15,1,55,27,.671,—,107.1,102.6,4.30,1991,San Antonio Spurs
16,2,54,28,.659,1.0,104.0,100.7,3.18,1991,Utah Jazz
17,3,52,30,.634,3.0,106.7,103.2,3.27,1991,Houston Rockets
18,4,31,51,.378,24.0,105.9,109.9,-3.79,1991,Orlando Magic
19,5,29,53,.354,26.0,99.6,103.5,-3.75,1991,Minnesota Timberwolves
20,6,28,54,.341,27.0,99.9,104.5,-4.27,1991,Dallas Mavericks
21,7,20,62,.244,35.0,119.9,130.8,-10.31,1991,Denver Nuggets
23,9,63,19,.768,—,114.7,106.0,8.47,1991,Portland Trail Blazers
24,10,58,24,.707,5.0,106.3,99.6,6.73,1991,Los Angeles Lakers
25,11,55,27,.671,8.0,114.0,107.5,6.49,1991,Phoenix Suns
26,12,44,38,.537,19.0,116.6,115.0,1.72,1991,Golden State Warriors
27,13,41,41,.500,22.0,106.6,105.4,1.31,1991,Seattle SuperSonics
28,14,31,51,.378,32.0,103.5,107.0,-3.16,1991,Los Angeles Clippers
29,15,25,57,.305,38.0,96.7,103.5,-6.27,1991,Sacramento Kings
30,0,51,31,.622,—,106.6,103.0,3.41,1992,Boston Celtics
31,1,51,31,.622,—,101.6,97.7,3.67,1992,New York Knicks
32,2,40,42,.488,11.0,105.4,107.1,-1.54,1992,New Jersey Nets

In [30]:
nicknames = {
    "ATL": "Atlanta Hawks",
    "BRK": "Brooklyn Nets",
    "BKN": "Brooklyn Nets",
    "BOS": "Boston Celtics",
    "CHA": "Charlotte Bobcats",
    "CHH": "Charlotte Hornets",
    "CHO": "Charlotte Hornets",
    "CHI": "Chicago Bulls",
    "CLE": "Cleveland Cavaliers",
    "DAL": "Dallas Mavericks",
    "DEN": "Denver Nuggets",
    "DET": "Detroit Pistons",
    "GSW": "Golden State Warriors",
    "HOU": "Houston Rockets",
    "IND": "Indiana Pacers",
    "LAC": "Los Angeles Clippers",
    "LAL": "Los Angeles Lakers",
    "MEM": "Memphis Grizzlies",
    "MIA": "Miami Heat",
    "MIL": "Milwaukee Bucks",
    "MIN": "Minnesota Timberwolves",
    "NJN": "New Jersey Nets",
    "NOH": "New Orleans Hornets",
    "NOP": "New Orleans Pelicans",
    "NOK": "New Orleans/Oklahoma City Hornets",
    "NYK": "New York Knicks",
    "OKC": "Oklahoma City Thunder",
    "ORL": "Orlando Magic",
    "PHI": "Philadelphia 76ers",
    "PHO": "Phoenix Suns",
    "PHX": "Phoenix Suns",
    "POR": "Portland Trail Blazers",
    "SAC": "Sacramento Kings",
    "SAS": "San Antonio Spurs",
    "SEA": "Seattle SuperSonics",
    "TOR": "Toronto Raptors",
    "UTA": "Utah Jazz",
    "VAN": "Vancouver Grizzlies",
    "WAS": "Washington Wizards",
    "WSB": "Washington Bullets"
}

In [31]:
combined["Team"] = combined["Team"].map(nicknames) # maps the team abbreviations to their full names using the nicknames dictionary

In [32]:
combined.head(5)

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,STL,BLK,TOV,PF,PTS,Awards,Year,Pts Won,Pts Max,Share
0,A.C. Green,27,Los Angeles Lakers,PF,82,21,26.4,3.1,6.6,.476,...,0.7,0.3,1.2,1.4,9.1,0,1991,0.0,0.0,0.0
1,A.C. Green,28,Los Angeles Lakers,PF,82,53,35.4,4.7,9.8,.476,...,1.1,0.4,1.4,1.7,13.6,0,1992,0.0,0.0,0.0
2,A.C. Green,29,Los Angeles Lakers,PF,82,55,34.4,4.6,8.6,.537,...,1.1,0.5,1.4,1.8,12.8,0,1993,0.0,0.0,0.0
3,A.C. Green,30,Phoenix Suns,PF,82,55,34.5,5.7,11.3,.502,...,0.9,0.5,1.2,1.7,14.7,0,1994,0.0,0.0,0.0
4,A.C. Green,31,Phoenix Suns,SF,82,52,32.8,3.8,7.5,.504,...,0.7,0.4,1.4,1.8,11.2,0,1995,0.0,0.0,0.0

In [33]:
stats = combined.merge(teams, how="outer", on=["Team", "Year"]) # merges the combined dataframe with the teams dataframe to get the team stats for each player

In [ ]:
stats

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,Pts Max,Share,Unnamed: 0,W,L,W/L%,GB,PS/G,PA/G,SRS
0,Doc Rivers,29,Atlanta Hawks,PG,79,79,32.7,5.6,12.9,.435,...,0.0,0.000,10.0,43,39,.524,18.0,109.8,109.0,0.72
1,Dominique Wilkins,31,Atlanta Hawks,SF,81,81,38.0,9.5,20.2,.470,...,960.0,0.030,10.0,43,39,.524,18.0,109.8,109.0,0.72
2,Duane Ferrell,25,Atlanta Hawks,SF,78,2,14.9,2.2,4.6,.489,...,0.0,0.000,10.0,43,39,.524,18.0,109.8,109.0,0.72
3,Gary Leonard,23,Atlanta Hawks,C,4,0,2.3,0.0,0.0,NaN,...,0.0,0.000,10.0,43,39,.524,18.0,109.8,109.0,0.72
4,John Battle,28,Atlanta Hawks,SG,79,2,23.6,5.0,10.9,.461,...,0.0,0.000,10.0,43,39,.524,18.0,109.8,109.0,0.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15854,Luka DonÄiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1000.0,0.010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15855,Nikola JokiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1000.0,0.674,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15856,League Average,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,.474,...,0.0,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15857,Luka DonÄiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,990.0,0.572,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15858,Nikola JokiÄ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,990.0,0.935,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
stats = stats[~stats["Player"].str.contains("League Average")] # removes the rows that contain "League Average" since these are not actual players

In [36]:
stats[stats["Player"]=="League Average"]

Empty DataFrame
Columns: [Player, Age, Team, Pos, G, GS, MP, FG, FGA, FG%, 3P, 3PA, 3P%, 2P, 2PA, 2P%, eFG%, FT, FTA, FT%, ORB, DRB, TRB, AST, STL, BLK, TOV, PF, PTS, Awards, Year, Pts Won, Pts Max, Share, Unnamed: 0, W, L, W/L%, GB, PS/G, PA/G, SRS]
Index: []

[0 rows x 42 columns]

In [37]:
stats.isnull()

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,Pts Max,Share,Unnamed: 0,W,L,W/L%,GB,PS/G,PA/G,SRS
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15852,False,True,True,True,True,True,True,True,True,True,...,False,False,True,True,True,True,True,True,True,True
15854,False,True,True,True,True,True,True,True,True,True,...,False,False,True,True,True,True,True,True,True,True
15855,False,True,True,True,True,True,True,True,True,True,...,False,False,True,True,True,True,True,True,True,True
15857,False,True,True,True,True,True,True,True,True,True,...,False,False,True,True,True,True,True,True,True,True
15858,False,True,True,True,True,True,True,True,True,True,...,False,False,True,True,True,True,True,True,True,True

In [42]:
stats = stats.fillna(0.0)

In [112]:
stats

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,Pts Max,Share,Unnamed: 0,W,L,W/L%,GB,PS/G,PA/G,SRS
0,Doc Rivers,29,Atlanta Hawks,PG,79,79,32.7,5.6,12.9,.435,...,0.0,0.000,10.0,43,39,.524,18.0,109.8,109.0,0.72
1,Dominique Wilkins,31,Atlanta Hawks,SF,81,81,38.0,9.5,20.2,.470,...,960.0,0.030,10.0,43,39,.524,18.0,109.8,109.0,0.72
2,Duane Ferrell,25,Atlanta Hawks,SF,78,2,14.9,2.2,4.6,.489,...,0.0,0.000,10.0,43,39,.524,18.0,109.8,109.0,0.72
3,Gary Leonard,23,Atlanta Hawks,C,4,0,2.3,0.0,0.0,0.0,...,0.0,0.000,10.0,43,39,.524,18.0,109.8,109.0,0.72
4,John Battle,28,Atlanta Hawks,SG,79,2,23.6,5.0,10.9,.461,...,0.0,0.000,10.0,43,39,.524,18.0,109.8,109.0,0.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15852,Nikola JokiÄ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1000.0,0.875,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15854,Luka DonÄiÄ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1000.0,0.010,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15855,Nikola JokiÄ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1000.0,0.674,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15857,Luka DonÄiÄ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,990.0,0.572,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15858,Nikola JokiÄ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,990.0,0.935,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [113]:
stats.isnull()

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,Pts Max,Share,Unnamed: 0,W,L,W/L%,GB,PS/G,PA/G,SRS
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15852,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15854,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15855,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15857,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15858,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [114]:
stats = stats.iloc[:-17]

In [115]:
stats

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,Pts Max,Share,Unnamed: 0,W,L,W/L%,GB,PS/G,PA/G,SRS
0,Doc Rivers,29,Atlanta Hawks,PG,79,79,32.7,5.6,12.9,.435,...,0.0,0.00,10.0,43,39,.524,18.0,109.8,109.0,0.72
1,Dominique Wilkins,31,Atlanta Hawks,SF,81,81,38.0,9.5,20.2,.470,...,960.0,0.03,10.0,43,39,.524,18.0,109.8,109.0,0.72
2,Duane Ferrell,25,Atlanta Hawks,SF,78,2,14.9,2.2,4.6,.489,...,0.0,0.00,10.0,43,39,.524,18.0,109.8,109.0,0.72
3,Gary Leonard,23,Atlanta Hawks,C,4,0,2.3,0.0,0.0,0.0,...,0.0,0.00,10.0,43,39,.524,18.0,109.8,109.0,0.72
4,John Battle,28,Atlanta Hawks,SG,79,2,23.6,5.0,10.9,.461,...,0.0,0.00,10.0,43,39,.524,18.0,109.8,109.0,0.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15803,Marvin Bagley III,24,Washington Wizards,C,50,25,21.1,4.8,8.2,.586,...,0.0,0.00,16.0,15,67,.183,32.0,113.7,123.0,-9.29
15804,Patrick Baldwin Jr.,21,Washington Wizards,SF,38,7,13.0,1.6,4.1,.381,...,0.0,0.00,16.0,15,67,.183,32.0,113.7,123.0,-9.29
15805,Richaun Holmes,30,Washington Wizards,C,40,10,13.9,2.1,3.7,.558,...,0.0,0.00,16.0,15,67,.183,32.0,113.7,123.0,-9.29
15806,Tristan Vukcevic,20,Washington Wizards,C,10,4,15.3,2.9,6.7,.433,...,0.0,0.00,16.0,15,67,.183,32.0,113.7,123.0,-9.29
15807,Tyus Jones,27,Washington Wizards,PG,66,66,29.3,4.9,10.1,.489,...,0.0,0.00,16.0,15,67,.183,32.0,113.7,123.0,-9.29

In [116]:
stats = stats.reset_index(drop=True)

In [117]:
stats

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,Pts Max,Share,Unnamed: 0,W,L,W/L%,GB,PS/G,PA/G,SRS
0,Doc Rivers,29,Atlanta Hawks,PG,79,79,32.7,5.6,12.9,.435,...,0.0,0.00,10.0,43,39,.524,18.0,109.8,109.0,0.72
1,Dominique Wilkins,31,Atlanta Hawks,SF,81,81,38.0,9.5,20.2,.470,...,960.0,0.03,10.0,43,39,.524,18.0,109.8,109.0,0.72
2,Duane Ferrell,25,Atlanta Hawks,SF,78,2,14.9,2.2,4.6,.489,...,0.0,0.00,10.0,43,39,.524,18.0,109.8,109.0,0.72
3,Gary Leonard,23,Atlanta Hawks,C,4,0,2.3,0.0,0.0,0.0,...,0.0,0.00,10.0,43,39,.524,18.0,109.8,109.0,0.72
4,John Battle,28,Atlanta Hawks,SG,79,2,23.6,5.0,10.9,.461,...,0.0,0.00,10.0,43,39,.524,18.0,109.8,109.0,0.72
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15803,Marvin Bagley III,24,Washington Wizards,C,50,25,21.1,4.8,8.2,.586,...,0.0,0.00,16.0,15,67,.183,32.0,113.7,123.0,-9.29
15804,Patrick Baldwin Jr.,21,Washington Wizards,SF,38,7,13.0,1.6,4.1,.381,...,0.0,0.00,16.0,15,67,.183,32.0,113.7,123.0,-9.29
15805,Richaun Holmes,30,Washington Wizards,C,40,10,13.9,2.1,3.7,.558,...,0.0,0.00,16.0,15,67,.183,32.0,113.7,123.0,-9.29
15806,Tristan Vukcevic,20,Washington Wizards,C,10,4,15.3,2.9,6.7,.433,...,0.0,0.00,16.0,15,67,.183,32.0,113.7,123.0,-9.29
15807,Tyus Jones,27,Washington Wizards,PG,66,66,29.3,4.9,10.1,.489,...,0.0,0.00,16.0,15,67,.183,32.0,113.7,123.0,-9.29

In [118]:
del stats["Unnamed: 0"]

In [120]:
stats.dtypes

Player      object
Age         object
Team        object
Pos         object
G           object
GS          object
MP          object
FG          object
FGA         object
FG%         object
3P          object
3PA         object
3P%         object
2P          object
2PA         object
2P%         object
eFG%        object
FT          object
FTA         object
FT%         object
ORB         object
DRB         object
TRB         object
AST         object
STL         object
BLK         object
TOV         object
PF          object
PTS         object
Awards      object
Year         int64
Pts Won    float64
Pts Max    float64
Share      float64
W           object
L           object
W/L%        object
GB          object
PS/G        object
PA/G        object
SRS         object
dtype: object

In [121]:
stats = stats.apply(pd.to_numeric, errors="ignore") # goes through every column in stats and trys to convert the data types into numeric data types

/var/folders/79/yhqc0t4j20v0crtdf03zmpzm0000gn/T/ipykernel_53901/2310023371.py:1: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  stats = stats.apply(pd.to_numeric, errors="ignore") # goes through every column in stats and trys to convert the data types into numeric data types

In [122]:
stats.dtypes

Player      object
Age          int64
Team        object
Pos         object
G            int64
GS           int64
MP         float64
FG         float64
FGA        float64
FG%        float64
3P         float64
3PA        float64
3P%        float64
2P         float64
2PA        float64
2P%        float64
eFG%       float64
FT         float64
FTA        float64
FT%        float64
ORB        float64
DRB        float64
TRB        float64
AST        float64
STL        float64
BLK        float64
TOV        float64
PF         float64
PTS        float64
Awards      object
Year         int64
Pts Won    float64
Pts Max    float64
Share      float64
W            int64
L            int64
W/L%       float64
GB          object
PS/G       float64
PA/G       float64
SRS        float64
dtype: object

In [123]:
stats["GB"].unique()

array(['18.0', '29.0', '14.0', '—', '10.0', '26.0', '13.0', '12.0', '2.0',
       '28.0', '27.0', '17.0', '15.0', '33.0', '46.0', '6.0', '22.0',
       '16.0', '20.0', '21.0', '3.0', '11.0', '25.0', '19.0', '5.0',
       '23.0', '12.5', '9.0', '8.0', '4.0', '35.0', '31.0', '1.0', '7.0',
       '32.0', '41.0', '24.0', '39.0', '45.0', '36.0', '37.0', '38.0',
       '4.5', '30.0', '43.0', '25.5', '44.0', '40.0', '42.0', '2.5',
       '51.0', '34.0', '20.5', '32.5', '48.0', '52.0', '3.5', '56.0',
       '10.5', '47.0', '11.5', '22.5', '1.5', '50.0', '21.5', '18.5'],
      dtype=object)

In [124]:
stats["GB"] = stats["GB"].str.replace("—", "0.0")

In [125]:
stats["GB"].unique()

array(['18.0', '29.0', '14.0', '0.0', '10.0', '26.0', '13.0', '12.0',
       '2.0', '28.0', '27.0', '17.0', '15.0', '33.0', '46.0', '6.0',
       '22.0', '16.0', '20.0', '21.0', '3.0', '11.0', '25.0', '19.0',
       '5.0', '23.0', '12.5', '9.0', '8.0', '4.0', '35.0', '31.0', '1.0',
       '7.0', '32.0', '41.0', '24.0', '39.0', '45.0', '36.0', '37.0',
       '38.0', '4.5', '30.0', '43.0', '25.5', '44.0', '40.0', '42.0',
       '2.5', '51.0', '34.0', '20.5', '32.5', '48.0', '52.0', '3.5',
       '56.0', '10.5', '47.0', '11.5', '22.5', '1.5', '50.0', '21.5',
       '18.5'], dtype=object)

In [ ]:
stats["GB"] = pd.to_numeric(stats["GB"]) # converts the GB column to numeric data type

In [127]:
stats.dtypes

Player      object
Age          int64
Team        object
Pos         object
G            int64
GS           int64
MP         float64
FG         float64
FGA        float64
FG%        float64
3P         float64
3PA        float64
3P%        float64
2P         float64
2PA        float64
2P%        float64
eFG%       float64
FT         float64
FTA        float64
FT%        float64
ORB        float64
DRB        float64
TRB        float64
AST        float64
STL        float64
BLK        float64
TOV        float64
PF         float64
PTS        float64
Awards      object
Year         int64
Pts Won    float64
Pts Max    float64
Share      float64
W            int64
L            int64
W/L%       float64
GB         float64
PS/G       float64
PA/G       float64
SRS        float64
dtype: object

In [128]:
stats = stats.sort_values("Year")

In [129]:
stats = stats.reset_index(drop=True)

In [130]:
stats["Year"].tail(30)

15778    2024
15779    2024
15780    2024
15781    2024
15782    2024
15783    2024
15784    2024
15785    2024
15786    2024
15787    2024
15788    2024
15789    2024
15790    2024
15791    2024
15792    2024
15793    2024
15794    2024
15795    2024
15796    2024
15797    2024
15798    2024
15799    2024
15800    2024
15801    2024
15802    2024
15803    2024
15804    2024
15805    2024
15806    2024
15807    2024
Name: Year, dtype: int64

In [131]:
stats

,Player,Age,Team,Pos,G,GS,MP,FG,FGA,FG%,...,Pts Won,Pts Max,Share,W,L,W/L%,GB,PS/G,PA/G,SRS
0,Doc Rivers,29,Atlanta Hawks,PG,79,79,32.7,5.6,12.9,0.435,...,0.0,0.0,0.0,43,39,0.524,18.0,109.8,109.0,0.72
1,Randolph Keys,24,Charlotte Hornets,SF,44,0,10.8,1.3,3.3,0.407,...,0.0,0.0,0.0,26,56,0.317,35.0,102.8,108.0,-4.95
2,Rex Chapman,23,Charlotte Hornets,PG,70,68,30.0,5.9,13.2,0.445,...,0.0,0.0,0.0,26,56,0.317,35.0,102.8,108.0,-4.95
3,Scott Haffner,24,Charlotte Hornets,PG,7,0,7.1,1.1,3.0,0.381,...,0.0,0.0,0.0,26,56,0.317,35.0,102.8,108.0,-4.95
4,Steve Scheffler,23,Charlotte Hornets,C,39,0,5.8,0.5,1.0,0.513,...,0.0,0.0,0.0,26,56,0.317,35.0,102.8,108.0,-4.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15803,A.J. Lawson,23,Dallas Mavericks,SG,42,0,7.4,1.3,2.9,0.446,...,0.0,0.0,0.0,50,32,0.610,0.0,117.9,115.6,2.30
15804,Alex Len,30,Sacramento Kings,C,48,0,9.3,1.0,1.7,0.617,...,0.0,0.0,0.0,46,36,0.561,5.0,116.6,114.8,2.29
15805,Chris Duarte,26,Sacramento Kings,SF,59,11,12.2,1.4,3.6,0.381,...,0.0,0.0,0.0,46,36,0.561,5.0,116.6,114.8,2.29
15806,Kyrie Irving,31,Dallas Mavericks,SG,58,58,35.0,9.7,19.5,0.497,...,0.0,0.0,0.0,50,32,0.610,0.0,117.9,115.6,2.30
15807,Tyus Jones,27,Washington Wizards,PG,66,66,29.3,4.9,10.1,0.489,...,0.0,0.0,0.0,15,67,0.183,32.0,113.7,123.0,-9.29

In [132]:
# Wrote in Luka's mvp voting stats since they were missing

stats.loc[(stats["Player"]=="Luka Dončić") & (stats["Year"]==2019), "Pts Max"] = 0.0
stats.loc[(stats["Player"]=="Luka Dončić") & (stats["Year"]==2019), "Pts Won"] = 0.0

stats.loc[(stats["Player"]=="Luka Dončić") & (stats["Year"]==2020), "Pts Won"] = 200
stats.loc[(stats["Player"]=="Luka Dončić") & (stats["Year"]==2020), "Pts Max"] = 1010
stats.loc[(stats["Player"]=="Luka Dončić") & (stats["Year"]==2020), "Share"] = 0.198

stats.loc[(stats["Player"]=="Luka Dončić") & (stats["Year"]==2021), "Pts Won"] = 42
stats.loc[(stats["Player"]=="Luka Dončić") & (stats["Year"]==2021), "Pts Max"] = 1010
stats.loc[(stats["Player"]=="Luka Dončić") & (stats["Year"]==2021), "Share"] = 0.042

stats.loc[(stats["Player"]=="Luka Dončić") & (stats["Year"]==2022), "Pts Won"] = 146
stats.loc[(stats["Player"]=="Luka Dončić") & (stats["Year"]==2022), "Pts Max"] = 1000
stats.loc[(stats["Player"]=="Luka Dončić") & (stats["Year"]==2022), "Share"] = 0.146

stats.loc[(stats["Player"]=="Luka Dončić") & (stats["Year"]==2023), "Pts Won"] = 10
stats.loc[(stats["Player"]=="Luka Dončić") & (stats["Year"]==2023), "Pts Max"] = 1000
stats.loc[(stats["Player"]=="Luka Dončić") & (stats["Year"]==2023), "Share"] = 0.010

stats.loc[(stats["Player"]=="Luka Dončić") & (stats["Year"]==2024), "Pts Won"] = 566
stats.loc[(stats["Player"]=="Luka Dončić") & (stats["Year"]==2024), "Pts Max"] = 990
stats.loc[(stats["Player"]=="Luka Dončić") & (stats["Year"]==2024), "Share"] = 0.572

In [134]:
# Wrote in Nikola's mvp voting stats since they were missing

stats.loc[(stats["Player"]=="Nikola Jokić") & (stats["Year"]==2016), "Pts Max"] = 0.0
stats.loc[(stats["Player"]=="Nikola Jokić") & (stats["Year"]==2016), "Share"] = 0.0

stats.loc[(stats["Player"]=="Nikola Jokić") & (stats["Year"]==2017), "Pts Max"] = 0.0

stats.loc[(stats["Player"]=="Nikola Jokić") & (stats["Year"]==2018), "Pts Max"] = 0.0

stats.loc[(stats["Player"]=="Nikola Jokić") & (stats["Year"]==2019), "Pts Won"] = 212
stats.loc[(stats["Player"]=="Nikola Jokić") & (stats["Year"]==2019), "Pts Max"] = 1010
stats.loc[(stats["Player"]=="Nikola Jokić") & (stats["Year"]==2019), "Share"] = 0.210

stats.loc[(stats["Player"]=="Nikola Jokić") & (stats["Year"]==2020), "Pts Won"] = 18
stats.loc[(stats["Player"]=="Nikola Jokić") & (stats["Year"]==2020), "Pts Max"] = 1010
stats.loc[(stats["Player"]=="Nikola Jokić") & (stats["Year"]==2020), "Share"] = 0.018

stats.loc[(stats["Player"]=="Nikola Jokić") & (stats["Year"]==2021), "Pts Won"] = 971
stats.loc[(stats["Player"]=="Nikola Jokić") & (stats["Year"]==2021), "Pts Max"] = 1010
stats.loc[(stats["Player"]=="Nikola Jokić") & (stats["Year"]==2021), "Share"] = 0.961

stats.loc[(stats["Player"]=="Nikola Jokić") & (stats["Year"]==2022), "Pts Won"] = 875
stats.loc[(stats["Player"]=="Nikola Jokić") & (stats["Year"]==2022), "Pts Max"] = 1000
stats.loc[(stats["Player"]=="Nikola Jokić") & (stats["Year"]==2022), "Share"] = 0.875

stats.loc[(stats["Player"]=="Nikola Jokić") & (stats["Year"]==2023), "Pts Won"] = 674
stats.loc[(stats["Player"]=="Nikola Jokić") & (stats["Year"]==2023), "Pts Max"] = 1000
stats.loc[(stats["Player"]=="Nikola Jokić") & (stats["Year"]==2023), "Share"] = 0.674

stats.loc[(stats["Player"]=="Nikola Jokić") & (stats["Year"]==2024), "Pts Won"] = 926
stats.loc[(stats["Player"]=="Nikola Jokić") & (stats["Year"]==2024), "Pts Max"] = 990
stats.loc[(stats["Player"]=="Nikola Jokić") & (stats["Year"]==2024), "Share"] = 0.935

In [ ]:
# Wrote in Peja's mvp voting stats since they were missing

stats.loc[(stats["Player"]=="Peja Stojaković") & (stats["Year"]==2002), "Pts Won"] = 1
stats.loc[(stats["Player"]=="Peja Stojaković") & (stats["Year"]==2002), "Pts Max"] = 1260
stats.loc[(stats["Player"]=="Peja Stojaković") & (stats["Year"]==2002), "Share"] = 0.001

stats.loc[(stats["Player"]=="Peja Stojaković") & (stats["Year"]==2004), "Pts Won"] = 281
stats.loc[(stats["Player"]=="Peja Stojaković") & (stats["Year"]==2004), "Pts Max"] = 1230
stats.loc[(stats["Player"]=="Peja Stojaković") & (stats["Year"]==2004), "Share"] = 0.228

In [ ]:
# Wrote in Goran's mvp voting stats since they were missing

stats.loc[(stats["Player"]=="Goran Dragić") & (stats["Year"]==2014), "Pts Won"] = 3
stats.loc[(stats["Player"]=="Goran Dragić") & (stats["Year"]==2014), "Pts Max"] = 1250
stats.loc[(stats["Player"]=="Goran Dragić") & (stats["Year"]==2014), "Share"] = 0.002

In [ ]:
# Wrote in Manu's mvp voting stats since they were missing

stats.loc[(stats["Player"]=="Manu Ginóbili") & (stats["Year"]==2008), "Pts Won"] = 9
stats.loc[(stats["Player"]=="Manu Ginóbili") & (stats["Year"]==2008), "Pts Max"] = 1260
stats.loc[(stats["Player"]=="Manu Ginóbili") & (stats["Year"]==2008), "Share"] = 0.004

stats.loc[(stats["Player"]=="Manu Ginóbili") & (stats["Year"]==2010), "Pts Won"] = 3
stats.loc[(stats["Player"]=="Manu Ginóbili") & (stats["Year"]==2010), "Pts Max"] = 1230
stats.loc[(stats["Player"]=="Manu Ginóbili") & (stats["Year"]==2010), "Share"] = 0.002

stats.loc[(stats["Player"]=="Manu Ginóbili") & (stats["Year"]==2011), "Pts Won"] = 20
stats.loc[(stats["Player"]=="Manu Ginóbili") & (stats["Year"]==2011), "Pts Max"] = 1210
stats.loc[(stats["Player"]=="Manu Ginóbili") & (stats["Year"]==2011), "Share"] = 0.017

In [138]:
stats.to_csv("total_stats.csv")